body {
  background-color: #ECF0F5;
  text-align: center;
  width:70%;
  margin: auto;
}

#titleBus {
  text-align: left;
  color: #18946D;
  font-size: 250%;
}

#titleWeather {
  text-align: center;
  color: #18946D;
  font-size: 250%;
}

#stop table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  float:left;
}

#stop table td {
  border: 1px solid #CD1C38;
  text-align: left;
  padding: 8px;
  background-color: #ffffff;
}

#stop thead td {
  background-color: #CD1C38;
  color: #18946D;
  font-size: 150%;
}

#div1 {
  float: left;
  width: 49%;
}

#div2 {
  float: right;
  width: 49%;
}